# Coding exercises
Exercises 1-3 are thought exercises that don't require coding. 

## Exercise 4: Generate the data by running this cell
This will give you a list of numbers to work with in the remaining exercises.

In [1]:
import random
random.seed(0)
salaries = [round(random.random()*1000000, -3) for _ in range(100)]

## Exercise 5: Calculating statistics and verifying
### mean

In [3]:
import numpy as np
np.mean(salaries)

585690.0

### median

In [4]:
np.median(salaries)

589000.0

### mode

In [5]:
from scipy import stats
import pandas as pd
stats.mode(salaries)

ModeResult(mode=array([477000.]), count=array([3]))

### sample variance
Remember to use Bessel's correction.

In [6]:
df = pd.DataFrame(salaries)
print(df.var(ddof=0))

0    6.995741e+10
dtype: float64

### sample standard deviation
Remember to use Bessel's correction.

In [7]:
print(df.std(ddof=0))

0    264494.638698
dtype: float64

## Exercise 6: Calculating more statistics
### range

In [8]:
range = max(salaries) - min(salaries)
print(range)

995000.0

### coefficient of variation

In [9]:
cv = df.std(ddof=1) / df.mean() * 100 
print(cv)

0    45.386999
dtype: float64

### interquartile range

In [10]:
np.percentile(df, [75 ,25])

array([816750., 403500.])

### quartile coefficent of dispersion

In [11]:
# First quartile (Q1)
Q1 = np.median(df[:10])
  
# Third quartile (Q3)
Q3 = np.median(df[10:])
  
# Interquartile range (IQR)
IQR = Q3 - Q1
  
print(IQR)

105500.0

## Exercise 7: Scaling data
### min-max scaling

In [28]:
from sklearn.preprocessing import MinMaxScaler


scaler = MinMaxScaler()
df.rename(columns={list(df)[0]:'Salaries'}, inplace=True)

df[['Salaries']] = scaler.fit_transform(df[['Salaries']])

df

    Salaries
0   0.847236
1   0.760804
2   0.422111
3   0.259296
4   0.512563
..       ...
95  0.920603
96  0.795980
97  0.081407
98  0.615075
99  0.487437

[100 rows x 1 columns]

### standardizing

In [33]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
sd = scaler.fit_transform(df)
sd

array([[ 0.97661715],
       [ 0.65146878],
       [-0.62265912],
       [-1.23514791],
       [-0.28238758],
       [-0.68315184],
       [ 0.74976945],
       [-1.06879293],
       [-0.41093461],
       [-0.01017034],
       [ 1.21858803],
       [-0.30507235],
       [-1.14818962],
       [ 0.64390719],
       [ 0.12215749],
       [-1.26539427],
       [ 1.22614962],
       [ 1.50214765],
       [ 0.84807012],
       [ 1.19590326],
       [-1.04232737],
       [ 0.54560652],
       [ 1.18456087],
       [ 0.37168995],
       [-0.42983858],
       [-1.83251351],
       [-0.57350879],
       [ 0.09569192],
       [ 1.237492  ],
       [ 1.44165493],
       [-0.41093461],
       [ 1.05601384],
       [-1.23136711],
       [ 0.82916615],
       [-0.13871737],
       [-2.16144268],
       [ 0.50779857],
       [-0.70583661],
       [ 0.90478204],
       [ 0.31119723],
       [-2.21059301],
       [-0.34666109],
       [ 1.06735623],
       [-1.29185983],
       [-0.98561544],
       [ 1.07491782],
       [-1.49224197],
       [-0.06688226],
       [-1.31076381],
       [ 1.44543573],
       [ 0.82160456],
       [-0.52057766],
       [-1.91191021],
       [-1.00451942],
       [-0.29372996],
       [ 1.3131079 ],
       [-1.80226716],
       [-0.13115578],
       [ 0.45864824],
       [-0.14627896],
       [ 0.8631933 ],
       [-0.17274452],
       [ 1.43031255],
       [ 0.06544556],
       [ 0.00873364],
       [-0.53192004],
       [ 0.03898   ],
       [-0.75876774],
       [-0.0366359 ],
       [-1.11794327],
       [-1.49980356],
       [-1.50736515],
       [ 0.10325351],
       [ 0.26960849],
       [-0.41093461],
       [-1.87410226],
       [ 0.65146878],
       [ 1.10138338],
       [ 1.27529995],
       [ 0.96905556],
       [ 1.18078008],
       [ 1.27529995],
       [-0.16896373],
       [-0.73608297],
       [ 0.45108665],
       [-1.17087439],
       [ 0.85563171],
       [ 0.99552112],
       [ 1.16943769],
       [ 0.01629523],
       [ 1.37738142],
       [-0.02151272],
       [-0.50923527],
       [ 0.28095087],
       [ 1.55129798],
       [ 1.25261518],
       [ 0.78379661],
       [-1.90434862],
       [ 0.10325351],
       [-0.37690745]])

## Exercise 8: Calculating covariance and correlation
### covariance

In [34]:
print(df.cov())

          Salaries
Salaries  0.071376

### Pearson correlation coefficient ($\rho$)

In [36]:
df.corr(method='pearson')

          Salaries
Salaries       1.0